button.btn.btn-like.btn-default:hover,
button.btn.btn-like.btn-default.select{
	color: white;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

button.btn.btn-unlike.btn-default:hover,
button.btn.btn-unlike.btn-default.select{
	color: white;
	background-color: #d9534f;
	border-color: #d43f3a;
}

header a:hover,
footer a:hover{
	text-decoration: none;
}

header,
footer{
	background: rgba(78, 93, 108, 0.5);
	padding: 1em;
	width: 100%;
}

footer{
	border-top: solid 1px black;
	bottom: 0;
	height: 3em;
	position: fixed;
	text-align: center;
}
footer a{
	color: white;
}

header{
	border-bottom: solid 1px black;
	margin-bottom: 1em;
}

div.menu,
div.container{
	display: inline-block;
	margin-bottom: 3em;
	vertical-align: top;
}

div.container{
	width: 75%;
	min-width: 850px;
}
div.container div.container-center{
	margin: 0 auto;
	text-align: center;
	width: 850px;
}
div.container div.item, 
div.container div.item-photo{
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	display: inline-block;
	margin-bottom: 1em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}
div.container div.item{
	height: 175px;
	vertical-align: top;
	width: 200px;
}

div.container div.item-photo p{
	max-width: 130px;
	margin: 0.5em auto;
}

div.container div.item div.item-hover{
	width: 200px;
	height: 175px;
	position: absolute;
	z-index: 99;
}
div.container div.item div.item-hover span{
	font-size: 0em;
	top: 50%;
	margin-top: -15px;
}
div.container div.item div.item-hover:hover{
	background: rgba(0,0,0,0.5);
}
div.container div.item div.item-hover:hover span{
	font-size: 2em;
}


div.container div.item a{
	color: white;
}
div.container div.item div.image{
	position: relative;
	top: 0;
}
div.container div.item div.image div.over_categories{
	position: absolute;
	bottom: 0;
	right: 0;
}
div.container div.item div.image div.over_categories ul,
div.over-info div.over-slide ul{
	list-style-type: none;
	padding-left: 0;
	margin: 0.2em 0;
	text-decoration: none;
}
div.container div.item div.image div.over_categories ul li,
div.over-info div.over-slide ul li{
	border-radius: 0.5em;
	color:	white;
	display: inline-block;
	font-size: 0.7em;
	padding: 0.5em;
	vertical-align: top;
}
div.container div.item div.image img{
	max-width: 100%;
}

div.content-video{
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

div.over-info{
	position: absolute;
	height: 100px;
	width: 100%;
	z-index: 99;
}
div.over-info div.over-slide{
	background: rgba(78, 93, 108, 0.7);
	height: 90px;
	position: absolute;
	padding-left: 1em;
	top: -90px;
	width: 100%;
    transition: all 1s;
	-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 1s; /* For Safari 3.1 to 6.0 */
}
div.over-info div.over-slide h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	margin-top: 0.7em;
}
div.over-info div.over-slide div.half,
header div.half{
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	width: 49%;
}
div.over-info div.over-slide div.half#controls{
	height: 80px;
}
div.over-info div.over-slide div.half#title a{
	color: white;
}
div.over-info div.over-slide div.half#title a:hover{
	text-decoration: none;
}
div.over-info div.over-slide div.half div.btn-rating-container,
div.over-info div.over-slide div.half div.rating-container{
	display: inline-block;
	height: 68px;
	vertical-align: middle;
}

div.over-info:hover div.over-slide{
	top: 0px;
}

div.panel.panel-primary{
	background: rgba(78, 93, 108, 0.5);
}

div.menu{
	width: 23%;
}
div.menu div.panel{
	margin-left: 1em;
}

div.menu div.search-bar{
	margin-bottom: 1em;
	margin-left: 1em;
}
div.menu div.search-bar input{
	background-color: #ffffff;
	background-image: none;
	color: #2b3e50;
	font-size: 15px;
	width: 85%;
}
div.menu div.search-bar span{
	background-color: #df691a;
	cursor: pointer;
	width: 15%;
}

div.menu div.search-bar input,
div.menu div.search-bar span{
	display: inline-block;
	height: 39px;
	top: 0px;
	vertical-align: top;
}

div#over_player{
	position: fixed;
	display: none;
	background: rgba(0,0,0,0.7);
	height: 100%;
	top: 0;
	width: 100%;
	z-index: 99;
}

div.button{
	cursor: pointer;
	background: green;
	border-radius: 0.5em;
}
div.right{
	text-align: right;
}

ul.nav.nav-pills.nav-justified{
	margin-top: 1em;
}

.btn{
	background-color: #DF691A;
}
.btn,.btn:hover{
	border: solid 1px white;
}
.input-group-addon:last-child{
	border: 0;
}
.input-group{
	width: 100%;
}
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


/*
* Change background
*/
#wrap{
	position:fixed;; 
	z-index:-1; 
	top:0; 
	left:0; 
	background-color:black
}
#wrap img.bgfade{
	position:absolute;
	top:0;
	display:none;
	width:100%;
	height:100%;
	z-index:-1
}